/*white, black and green theme, I'm thinking. Because of money.*/

body{
    font-family: arial;
    font-color:black;
    background-color:white;
}

.tabs{
    
}

.header{
    
}


#dashboard .accountInfo{ /* Just to show where the 12 units are on the browser*/
			background: pink;
			border: 1px solid purple;
			height: 100px;
}
#dashboard .body{ /* dashboard storyboard css */
	

}