/*white, black and green theme, I'm thinking. Because money.*/

body{
    font-family: arial;
    background-color:white;
	  color:black;
}
.tabs{
	background-color:#006600;
	padding: 5px;
	margin:10px 0 10px 0;
}

.tabs ul {
	list-style-type: none;
	padding:0px;
	margin:0;
}
	
	  
.tabs li {
    display:inline;
	border: solid;
	border-width: thin;
	padding: 4px 0 4px 0;
	margin:0;
}
	   
.tabs a {
	font-weight:bold;
	color:white;
	text-decoration: none;
	padding: 2px;
	margin:0;
}
	
.tabs a:hover {
	background-color: white;
	color: #006600;
	padding: 4px 2px 4px 2px;
	margin:unset0;
} 

.customButton{
	display:inline-block;
	background-color:#006600;
	padding:5px;
	color:white;
	font-weight:bold;
	border: solid;
	border-width: thin;
	border-color:black;
	margin-left:50%;
	margin-bottom:10px;
}

.header{
	min-width: 800px;
	font-size: large;
	height:40px;
	margin:10px;
	
}

	
.header ul {
	list-style-type: none;
	padding:0px;
	margin: 0px;
}
	
	  
.header li {
    display:inline;
	border-right: solid;
	border-width: thin;
	padding: 30px;
	margin: 0;
}

.logo{
	float:right;
}



#dashboard .accountInfo{
	background: pink;
	border: 1px dashed red;
	height: 100px;

}

#dashboard .buttonTab{
	background: salmon;
	border: 1px dashed red;
	height: 40px;
}

#dashboard .accInfoExpanded{
	background: yellow;
	border: 1px dashed red;
	height: 700px;
}

#dashboard .infoGraph{
	background: lightblue;
	border: 1px dashed red;
	height: 450px;
}

#dashboard .newsfeed{
	background: magenta;
	border: 1px dashed red;
	height: 250px;
}

.journal_entry{
	text-align:center;
	padding:10px;
	margin-top:20px;
	margin-right: auto;
	margin-left: auto;
	width:10px;
	min-width:750px;
	border:solid;
	border-width:thin;
}

.entry_column{
	text-align: left;
	display:inline-block;
	width:13%;
	min-width:170px;
	margin:0;
	padding:10px 0 0 10px;
	
}
.wide, textarea {
	margin-bottom:10px;
	display:block;
	width:130px;
	
}

.journal_output_table th, td{
	padding:10px;
}
.journal_output_table td{
	padding-top:0px;
	padding-bottom:0px;
}
.journal_output_table{
	font-size:small;
}


element.style {
    position: absolute;
    top: 37px;
    left: 50.6875px;
    z-index: 1;
    display: block;
}

.outer{
	box-shadow: 5px 5px 5px #225522;
	border:solid; 
	border-width:thin;
	padding:10px;
	overflow: auto;
	min-width:300px;
	
}

.inner{
	margin-top:20px;
	width:500px;
	border-spacing:0px;
	float:left;
}

.inner th{
	height: 40px;
	vertical-align:bottom;
	
}

.inner thead{
	background-color:#BBB;
}

.inner tbody{
	vertical-align:top;
}

.inner textarea{
	width:150px;
	height:100px;
   resize: none;
}




/*for datepicker to work*/
.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 3px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 3px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 3px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 3px;
}

.ui-widget-content {
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
}

.ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}

.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none;
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}
.ui-helper-clearfix:after {
    clear: both;
}
.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}

/*end datepicker*/
