/*white, black and green theme, I'm thinking. Because money.*/

body{
    font-family: arial;
    background-color:white;
	  color:black;
}
.tabs{
	background-color:#006600;
	padding: 5px;
	margin:10px 0 10px 0;
}

.tabs ul {
	list-style-type: none;
	padding:0px;
	margin:0;
}
	
	  
.tabs li {
    display:inline;
	border: solid;
	border-width: thin;
	padding: 4px 0 4px 0;
	margin:0;
}
	   
.tabs a {
	font-weight:bold;
	color:white;
	text-decoration: none;
	padding: 2px;
	margin:0;
}
	
.tabs a:hover {
	background-color: white;
	color: #006600;
	padding: 4px 2px 4px 2px;
	margin:unset0;
} 



.header{
	min-width: 800px;
	font-size: large;
	height:40px;
	margin:10px;
	
}

	
.header ul {
	list-style-type: none;
	padding:0px;
	margin: 0px;
}
	
	  
.header li {
    display:inline;
	border-right: solid;
	border-width: thin;
	padding: 30px;
	margin: 0;
}

.logo{
	float:right;
}

#dashboard .accountInfo{
	background: pink;
	border: 1px dashed red;
	height: 100px;

}

#dashboard .buttonTab{
	background: salmon;
	border: 1px dashed red;
	height: 40px;
}

#dashboard .accInfoExpanded{
	background: yellow;
	border: 1px dashed red;
	height: 700px;
}

#dashboard .infoGraph{
	background: lightblue;
	border: 1px dashed red;
	height: 450px;
}

#dashboard .newsfeed{
	background: magenta;
	border:; 1px dashed red;
	height: 250px;
}

.journal_entry{
	text-align:center;
	padding:10px;
	margin-top:20px;
	margin-right: auto;
	margin-left: auto;
	width:10px;
	min-width:750px;
	border:solid;
	border-width:thin;
}

.entry_column{
	text-align: left;
	display:inline-block;
	width:13%;
	min-width:170px;
	height:300px;
	margin:0;
	padding:10px 0 0 10px;
	
}
input:not([type=checkbox]):not([type=radio]) {
	margin-bottom:10px;
	display:block;
	width:130px;
	
}
